<div class="comment clearfix">
	<div class="comment_content">
		<p class="comment_body"><%= comment.name %></p>
    <%= image_tag comment.image.url(:thumb) %>
    <% if comment.likers(User).count != 0%>
        <div> Likes: <%= comment.likers(User).count %></div>
    <% end %>
		<p class="comment_time"><%= time_ago_in_words(comment.created_at) %> Ago</p>
	</div>
	
	<% if user_signed_in? %>
    <div>
        <span><%= link_to 'Like', like_post_comment_path(@post, comment, anchor: comment.id), class: "button" %></span>
        <% if comment.user_id == current_user.id %>
        <span><%= link_to 'Delete', [comment.post, comment], 
                      method: :delete, 
                      class: "button", 
                      data: { confirm: 'Are you sure?' } %></span>
        <% end %>
    </div>
	<% end %>
</div>
